<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Ig1xp8gdOH0p423pustr4CFgUrIHB2w</string>
	<key>GCM_SENDER_ID</key>
	<string>531556915658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itemstorage</string>
	<key>PROJECT_ID</key>
	<string>tech-interview-dd80b</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-interview-dd80b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531556915658:ios:2718965dbd86b11b5b1733</string>
</dict>
</plist>